
.logo {
    text-align: center;
}


.hd {
    padding-left: 5%;
    padding-right: 5%;
}

@media (max-width: 600px) {
    .heading {
        letter-spacing: normal;
    }
}.heading {
    font-size: xx-large;
        letter-spacing: 50px;

}

header {
    background-color: #ffe194;
}
.logi{
    padding-top: 20%;
   
}
.loginb{
    border-radius: 10px;
background-color: #252f6b;
border-color: #fff;
color: white;
}
.loginb:hover{
    background-color: coral;
}
.hd1 {
    font-family: 'BankGothic Md BT', sans-serif;
    text-align: center;
    color: #252f6b;
}

.logo {
    text-align: center;
}

.hd {
    padding-left: 5%;
    padding-right: 5%;
}

@media (max-width: 600px) {
    .heading {
        letter-spacing: normal;
    }
    .p1 .p2 {
        display: none;
    }
}
footer{
    background-color: #ffb319;
    font-family: Arial, Helvetica, sans-serif;
    color: #252f6b;
  
}


.map-rsp{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-rsp iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}



.fa {
    padding: 10px;
    font-size: 10px;
    width: 32px;
    text-align: center;
    text-decoration: none;
    margin: 3px 1px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
    border-radius:5px;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius:5px;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
    border-radius:5px;
  }

  .fa-instagram {
    background: #125688;
    color: white;
    border-radius:5px;
  }
  
 
  

.nav-item{
    padding-left: 15px;
    padding-right:15px;
    border-right: solid 1px white;
}
body{
    overflow-x: hidden;
}